
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Muli');
@import 'variables';
@import 'base';
@import url('~@adobe/aem-core-cif-react-components/dist/main.css');
@import url('~@adobe/aem-core-cif-product-recs-extension/dist/main.css');
@import '../styles/**/*.scss';
@import './styles/*.scss';

  @media (min-width: 576px) {
    .container-sm, .container {
      max-width: 100%;
    }
  }
  @media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 100%;
    }
  }
  @media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 100%;
    }
  }
  @media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100%;
    }
  }
  @media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100%;
    }
  }